


:root {
    --primary_color: #F66B5D;
    --secondary_color: #233d63;
    --white_color: #ffffff;
}
a,
.btn.focus,
.btn:focus,
a:focus {
    outline: none !important;
    box-shadow: none;
    text-decoration: none !important;
}
body {
    font-size: 15px;
    line-height: 25px;
    font-family: "Barlow",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* Transition */
.ea-button-icon,
.transition-all-3s {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.elementor img {
    width: auto;
}

/* EA Button */
.ea-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background: var(--primary_color);
}
.ea-button:hover {
    background: #fff;
}
.ea-button .ea-button-icon {
    text-align: center;
}


/* ----------------------------------------
    Flip Card
------------------------------------------*/
.ea-flip-card-item {
    background-color: transparent;
    max-width: 300px;
    height: 300px;
    width: 100%;
    perspective: 1000px;
}
.ea-flip-card-item .ea-flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
}
.ea-flip-card-item .ea-flip-card-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}
.ea-flip-card-item:hover .ea-flip-card-inner {
    transform: rotateY(180deg);
}
.ea-flip-card-item .front, .ea-flip-card-item .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.ea-flip-card-item .back .inner,
.ea-flip-card-item .front .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.ea-flip-card-item .back,
.ea-flip-card-item .front {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.ea-flip-card-item .back:before,
.ea-flip-card-item .front:before {
    content: '';
    background-color: #f09b00;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.ea-flip-card-item .front {
    color: black;
}
.ea-flip-card-item .back:before {
    background-color: #555555;
}
.ea-flip-card-item .back {
    color: white;
    transform: rotateY(180deg);
}
.ea-flip-card-item .back h3,
.ea-flip-card-item .front h3 {
    font-size: 26px;
    font-weight: 600;
}
.ea-flip-card-item .back p,
.ea-flip-card-item .front p {
    line-height: 24px;
    font-size: 16px;
}

/* style 2 */
.ea-flip-card-item.style-3,
.ea-flip-card-item.style-2 {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.ea-flip-card-item.style-3 .ea-flip-card-inner,
.ea-flip-card-item.style-2 .ea-flip-card-inner {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.ea-flip-card-item.style-3 .ea-flip-card-inner .front,
.ea-flip-card-item.style-3 .ea-flip-card-inner .back,
.ea-flip-card-item.style-2 .ea-flip-card-inner .front,
.ea-flip-card-item.style-2 .ea-flip-card-inner .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.ea-flip-card-item.style-3 .ea-flip-card-inner .front,
.ea-flip-card-item.style-3 .ea-flip-card-inner .back,
.ea-flip-card-item.style-2 .ea-flip-card-inner .front,
.ea-flip-card-item.style-2 .ea-flip-card-inner .back {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}
.ea-flip-card-item.style-3 .ea-flip-card-inner .front .inner,
.ea-flip-card-item.style-3 .ea-flip-card-inner .back .inner,
.ea-flip-card-item.style-2 .ea-flip-card-inner .front .inner,
.ea-flip-card-item.style-2 .ea-flip-card-inner .back .inner {
    -webkit-transform: translateZ(90px) scale(.91);
    transform: translateZ(90px) scale(.91);
}
.ea-flip-card-item.style-3 .ea-flip-card-inner .back,
.ea-flip-card-item.style-2 .ea-flip-card-inner .back {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.ea-flip-card-item.style-3:hover .ea-flip-card-inner,
.ea-flip-card-item.style-3:hover .ea-flip-card-inner .back,
.ea-flip-card-item.style-2:hover .ea-flip-card-inner,
.ea-flip-card-item.style-2:hover .ea-flip-card-inner .back {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

/* Style 3 */
.ea-flip-card-item.style-3:hover .ea-flip-card-inner, 
.ea-flip-card-item.style-3:hover .ea-flip-card-inner .back {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}

.ea-flip-card-item.style-3 .ea-flip-card-inner .back {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}



/* Team Member */
.ea-team-item {
    background: #fff;
    padding-bottom: 10px;
    overflow: hidden;
    box-shadow: 0 0 40px rgb(0 0 0 / 15%);
}
.ea-team-item .ea-team-member-image {
    overflow: hidden;
}
.ea-team-item .ea-team-member-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ea-team-item .ea-team-member-content {
    padding: 10px 12px;
}
.ea-team-item .ea-team-member-content h1 {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 2px 0;
}
.ea-team-item .ea-team-member-content p {
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}
.ea-team-item .ea-team-member-social {
    gap: 10px;
    padding: 0 10px;
    flex-wrap: wrap;
}
.ea-team-item .ea-team-member-social li a:hover {
    background: #ba42ec;
}
.ea-team-item .ea-team-member-social li a {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    border-radius: 50px;
    background: #8f43ec;
    color: #fff;
}
.ea-team-item.align-right {
    text-align: right;
}
.ea-team-item.align-centered {
    text-align: center;
}
.ea-team-item.align-centered .ea-team-member-image {
    margin-left: auto !important;
    margin-right: auto !important;
}
.ea-team-item.align-right .ea-team-member-image {
    margin-left: auto !important;
    margin-right: 0 !important;
}
.ea-team-item.align-centered .ea-team-member-social {
    justify-content: center;
}
.ea-team-item.align-left .ea-team-member-social {
    justify-content: flex-start;
}
.ea-team-item.align-right .ea-team-member-social {
    justify-content: flex-end;
}

/* Team member style-2 */
.ea-team-item.style-2 {
    padding: 0;
    perspective: 800px;
}
.ea-team-item.style-2:before {
    content: '';
    position: absolute;
    background: #222;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.4;
    transform-origin: left;
    transform: rotateY(105deg);
    transition: .3s;
}
.ea-team-item.style-2:hover:before {
    transform: rotateY(0);
}
.ea-team-item.style-2 .ea-team-member-image {
    height: 300px;
}
.ea-team-item.style-2 .ea-team-member-content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: #fff;
    border-radius: 4px;
    z-index: 2;
    transition: .3s;
}
.ea-team-item.style-2 .ea-team-member-social {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.ea-team-item.style-2 .ea-team-member-social li {
    transform: translateX(30px);
    transition: .2s;
}
.ea-team-item.style-2:hover .ea-team-member-social li {
    transform: translateX(0);
}
.ea-team-item.style-2:hover .ea-team-member-content {
    background: rgb(255 255 255 / 22%);
}
.ea-team-item.style-2:hover .ea-team-member-content h1 {
    color: #ffffff;
}
.ea-team-item.style-2:hover .ea-team-member-content p {
    color: #eeeeee;
}
.ea-team-item.style-2:hover .ea-team-member-social {
    opacity: 1;
    visibility: visible;
}