/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */


:root {
    --primary_color: #F66B5D;
    --secondary_color: #233d63;
    --white_color: #ffffff;
}
a,
.btn.focus,
.btn:focus,
a:focus {
    outline: none !important;
    box-shadow: none !important;
    text-decoration: none !important;
}
body {
    font-size: 15px;
    line-height: 25px;
    font-family: "Barlow",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* Transition */
.ua-course-filter-nav li,
.ua-course-grid-carousel .owl-dots > *,
.ua-course-grid-carousel .owl-nav > *,
.ua-course-pagination > *,
.ua-course-filter-items .ua-course-list-items li:after,
.ua-course-card-item .ua-course-list-items li:after,
.ua-course-filter-items .ua-course-card-image:after,
.ua-course-card-item .ua-course-card-image:after,
.ua-icon-list-box .ua-icon-list-icon svg,
.ua-icon-list-box .ua-icon-list-icon i,
.ua-feature-box.ua_hv_style_3 .ua-feature-item .ua-feature__icon .div-strokes .stroke__bar,
.ua-flip-card-item .front:after,
.ua-flip-card-item .back:after,
.ua-category-box-wrapper .ua-category-box-content .ua-category-box-btn i,
.contact-pg-form .theme-button,
.ua-feature-box .ua-feature-item .ua-feature__icon,
.theme-button .fa__arrow,
.theme-button,
.UA-hero-slider-wrapper .owl-dots > .owl-dot,
.UA-hero-slider-wrapper .owl-nav > div,
.theme-button .fa__arrow.display_block_shape:after,
.ua-breadcrumb-area .ua-breadcrumb-content .ua-breadcrumb__list li a,
.UA_page_list_section .UA_page_title ul li a i,
.ua-course-category:after,
.transition-all-3s {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.elementor img {
    width: auto;
}

/* EA Button */
.ea-button {
    display: inline-block;
    padding: 6px 12px;
    background: var(--primary_color);
    color: var(--white_color);
    border-radius: 4px;
}
