

.product-area .product-grid-box .product-grid-item {
    text-align: center;
    padding-left: 0 !important;
}
.product-area .product-grid-box .product-grid-item .product-sort {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 45px;
    position: relative;
}
.product-area .product-grid-box .product-grid-item .product-sort .product-sort-ordering {
    margin-left: 15px;
    text-align: left;
    min-width: 240px;
}
.product-area .product-grid-box .product-grid-item .product-sort .product-sort-ordering .pro-choose-ordering {
    position: relative;
}
.product-area .product-grid-box .product-grid-item .product-sort .product-sort-ordering .pro-choose-ordering:before {
    position: absolute;
    content: "\f107";
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 20px;
    font-family: "fontAwesome";
    font-size: 20px;
    color: #677286;
    pointer-events: none;
    display: inline-block;
}
.nice-select {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #ddd;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 16px;
    color: #677286;
    font-weight: normal;
    height: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    outline: 0;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    transition: all .2s ease-in-out;
    user-select: none;
    white-space: nowrap;
    width: auto;
}
.nice-select span.current {
    font-weight: 500;
}
.nice-select .list {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(68,68,68,0.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform-origin: 50% 0;
    transform: scale(0.75) translateY(-21px);
    transition: all .2s cubic-bezier(0.5,0,0,1.25),opacity .15s ease-out;
    z-index: 9;
}
.nice-select:after {
    border-bottom: 2px solid #677286;
    border-right: 2px solid #677286;
    content: '';
    display: block;
    height: 8px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 18px;
    top: 50%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all .15s ease-in-out;
    width: 8px;
}
.nice-select .option {
    cursor: pointer;
    font-weight: 500;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: 0;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all .2s;
}
.product-area .product-grid-box .product-grid-item .product-sort .product-result-count .product-count-text {
    font-size: 16px;
    color: #677286;
    font-weight: 500;
}
.product-area .product-grid-box .product-grid-item .product-sort .product-result-count {
    text-align: right;
    flex-grow: 1;
    margin-left: 20px;
}
.product-area .feature-box .feature-item {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0 0 40px rgba(82,85,90,0.1);
    -moz-box-shadow: 0 0 40px rgba(82,85,90,0.1);
    box-shadow: 0 0 40px rgba(82,85,90,0.1);
    margin-bottom: 30px;
}
.product-area .product-grid-box .product-grid-item .col-md-4 .feature-item {
    margin-bottom: 15px;
}
.product-area .feature-box .feature-item:hover {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.product-area .feature-box .feature-item .product-img {
    position: relative;
}
.product-area .feature-box .feature-item .product-img .product__img {
    width: 100%;
}
.product-area .feature-box .feature-item .product-img .addto-cart-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
}
.product-area .feature-box .feature-item:hover .product-img .addto-cart-btn {
    bottom: 15px;
    opacity: 1;
    visibility: visible;
}
.theme-button {
    background-color: #233d63;
    color: #fff;
    padding-left: 25px;
    padding-right: 40px;
}
.product-area .feature-box .feature-item .product-img .addto-cart-btn .addto__cart {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 10px 30px;
}
.product-area .feature-box .feature-item .pro-content {
    padding: 24px 10px;
}
.product-area .feature-box .feature-item .pro-content .feature__title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.product-area .feature-box .feature-item .pro-content .feature__title a {
    color: #233d63;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.product-area .feature-box .feature-item .pro-content .prices span {
    font-size: 18px;
    color: #f66b5d;
    font-weight: 700;
}
.product-area .feature-box .feature-item .pro__action-list {
    position: absolute;
    top: 15px;
    left: -60px;
    padding: 0;
    background-color: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.product-area .feature-box .feature-item .pro__action-list li {
    font-size: 18px;
    border-bottom: 1px solid #eee;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.product-area .feature-box .feature-item .pro__action-list li:hover {
    border-color: #f66b5d;
}
.product-area .feature-box .feature-item .pro__action-list li a:hover {
    background: #f66b5d;
    color: #ffffff;
}
.product-area .feature-box .feature-item .pro__action-list li a {
    color: #233d63;
    padding: 9px 13px;
    display: block;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.product-area .feature-box .feature-item:hover .pro__action-list {
    left: 0;
}



.portfolioFilter {
    padding: 15px 0;
}

.portfolioFilter a {
    margin-right: 6px;
    color: #666;
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 4px 15px;
    border-radius: 50px;
    display: inline-block;
    font-size: 15px;
    position: relative;
    z-index: 1;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}
.portfolioFilter a:before {
    content: '';
    position: absolute;
    background: #000000;
    width: 10px;
    height: 10px;
    border: 2px solid #000000;
    bottom: 10px;
    opacity: 0;
    visibility: hidden;
    left: 50%;
    transform: translate(-50%, 0) rotate(45deg);
    z-index: -1;
}

.portfolioFilter a.current {
    background: #1e1e1e;
    border: 2px solid #00dcff;
    color: #f9f9f9;
}
.portfolioFilter a.current:before {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    bottom: -5px;
    opacity: 1;
    visibility: visible;
    border-bottom: 2px solid #00dcff;
}
.portfolioContainer{
    border: 1px solid transparent;
    border-radius: 3px;
}
img {
    /*max-width:100%;*/
    width: 100%;
}

.isotope-item .product_box h3 {
    margin-bottom: 0;
}
.isotope-item .product_box p {
    font-size: 14px;
}
.isotope-item .thumb {
    position: relative;
    margin-bottom: 20px;
}
.isotope-item .product_box {
    border: 1px solid #f3f3f3;
    padding: 20px;
    background: linear-gradient(45deg, #ffffff 85%, #f9f9f9 50%);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.isotope-item .product_box:hover {
    -webkit-box-shadow: 0 0 30px #f7f7f7;
    -moz-box-shadow: 0 0 30px #f7f7f7;
    box-shadow: 0 0 30px #f7f7f7;
}
.isotope-item {
    z-index: 2;
    width: 33.333333%;
    border: 15px solid #ffffff;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

/* Custom Post Type Query */
.custom_post_type_query {
    position: relative;
    margin-top: 100px;
}
.custom_post_type_query ul {
    position: relative;
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 32.333333%;
    align-items: flex-start;
    justify-content: space-between;
}
.custom_post_type_query ul li {
    flex-wrap: wrap;
    flex-basis: 32.333333%;
    border: 1px solid #f3f3f3;
    padding: 20px;
    margin-bottom: 20px;
}