/**
 *=============================================================

 llllllllll\    llllllllll \    llll \    llll\    llllllllll \    llll \     ll \
 ll |----ll |   ll       ll \   ll  ll \ll /ll |       ll |----\   ll ll \    ll |
 llllllllll |   ll        ll |  ll | lll /  ll |       ll |        ll | ll \  ll |
 ll |____ll |   ll       ll /   ll | \__|   ll |       ll |        ll |   ll \ll |
 ll |    ll |   llllllllll |    ll |        ll |   llllllllll \    ll |     llll |
 \__\    \__|   \_________|     \__\        \__|   \__________|    \__|     \____|

 * Easy Addons Elementor Admin Settings Page Styles
 *=============================================================
 */

/* General Style */
.fa {
    font-family: FontAwesome !important;
}
.ea-settings-wrap > * {
    font-family: 'Poppins', Sans-serif;
}
.ea-settings-wrap {
    padding: 15px;
    background: rgba(143, 67, 236, 0.03);
}
.ea-header-bar {
    height: auto;
    padding: 10px 15px;
    background: #ffffff;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
    -webkit-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
@media screen and (max-width: 782px) {
    .ea-header-bar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.ea-settings-wrap .ea-header-left {
    display: flex;
    align-content: center;
    align-items: center;
}
@media screen and (max-width: 782px) {
    .ea-settings-wrap .ea-header-left {
        align-content: center;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
}
.ea-header-bar .ea-admin-logo-inline {
    width: 130px;
    padding: 5px 15px 5px 0;
    margin-right: 25px;
}
.ea-header-bar .ea-admin-logo-inline img {
    width: 100%;
}
.ea-header-bar .title {
    font-size: 22px;
    color: #2e3d62;
    font-weight: 500;
    margin: 0;
}

.ea-header-left,
.ea-header-right {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.ea-header-right {
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
.UA-settings-tabs {
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
}
.UA-settings-tabs .col-lg-8 {
    width: 80%;
}
.UA-settings-tabs .col-lg-4 {
    width: 20%;
}
@media screen and (max-width: 782px) {
    .UA-settings-tabs .col-lg-4 {
        width: 30%;
    }
    .UA-settings-tabs .col-lg-8 {
        width: 70%;
    }
}
.UA-settings-tab h4 {
    font-size: 22px;
}

.UA-settings-tab p {
    font-size: 15px;
    color: #7f8897;
    margin: 0 0 20px 0;
    line-height: 20px;
}

.UA-settings-tabs ul {
    width: 100%;
    margin: 0;
    height: 500px;
    overflow-x: hidden;
}

.UA-settings-tabs ul li {
    display: block;
    margin-bottom: 5px;
}
.UA-settings-tabs ul li.UA-go-pro-nav-tab a {
    background: linear-gradient(45deg, #ba42ec, #8f42ec, #0073aa, #ba42ec, #8f42ec) ;
    animation: gradient_bg_animation 15s ease infinite ;
    background-size: 400% 400%;
}
.UA-settings-tabs ul li.UA-go-pro-nav-tab a span {
    color: #ffffff;
    letter-spacing: 0.4px;
    font-weight: 500;
}
.UA-settings-tabs ul li.UA-go-pro-nav-tab a i {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.11);
}
.UA-settings-tabs ul li a {
    padding: 10px 20px 10px 10px;
    font-size: 15px;
    background: #f7f7f7;
    font-weight: 600;
    text-decoration: none;
    display: block;
    border-radius: 4px;
    color: #2e3d62;
    margin-right: 5px;
    overflow: hidden;
    position: relative;
}
@media screen and (max-width: 782px) {
    .UA-settings-tabs ul li a span {
        display: block;
        margin-top: 5px;
    }
}
.UA-settings-tabs ul li a:before {
    content: '';
    border-left: 25px solid #f5eefc;
    position: absolute;
    right: -13px;
    z-index: 1;
    border-top: 25px solid transparent;
    transform: rotate(45deg);
    top: 20px;
    display: none;
}
.UA-settings-tabs ul li a img {
    opacity: 0.6;
}
.UA-settings-tabs ul li a.active:before {
    display: block;
}
.UA-settings-tabs ul li a.active img {
    opacity: 1;
}

.UA-settings-tabs ul li a:focus {
    outline: none;
    box-shadow: none;
}
.UA-settings-tabs ul li a i {
    display: inline-block;
    margin-right: 15px;
    background: rgba(145, 63, 229, 0.1);
    color: #913fe5;
    width: 45px;
    height: 45px;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    line-height: 45px;
    font-size: 20px;
    border-radius: 4px;
}
.UA-settings-tabs ul li a img {
    width: 18px;
    margin: 0 15px -3px 0;
}
.UA-settings-tab {
    background: #fff;
    padding: 15px 25px;
    border-top: none;
    position: relative;
    border-radius: 10px;
}
.UA-settings-tabs ul li.ui-tabs-active a {
    background: #fff;
    outline: none;
    box-shadow: none;
    color: #343434;
}
p.UA-title {
    font-size: 14px;
    font-weight: 500;
    color: #2e3d62;
    margin: 0 0.5em 0 0;
    letter-spacing: 0.4px;
}
.UA-settings-tab p.UA-elements-control-notice {
    color: #444;
    font-size: 16px;
    font-style: italic;
    padding: 10px;
}
.UA-form-control {
    width: 100%;
}
textarea.UA-form-control {
    padding: 15px;
    font-size: 14px;
    font-weight: 600;
    color: #5d5d5d;
}
.row {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    padding: 15px 0;
}
.col-full {
    width: 100%;
    height: auto;
}
.col-half {
    width: 49%;
    height: auto;
}
.col-one-third {
    width: 32%;
    height: auto;
}


/* Checkbox Style */
.UA-checkbox-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.UA-checkbox {
    font-size: 25px;
    margin: 10px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 40px rgba(14, 16, 48, 0.08);
    border: 1px solid #efefef;
    position: relative;
    display: flex;
    flex-basis: 300px;
    justify-content: space-between;
    align-items: center;
}

.UA-checkbox.checkbox-toggle-all {
    border-radius: 100px;
    padding: 12px 25px;
    flex-basis: 270px;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.UA-checkbox input[type="checkbox"] {
    visibility: hidden;
    display: none;
}
.UA-checkbox label {
    width: 2em;
    height: 1em;
    position: relative;
    cursor: pointer;
    display: block;
}
.UA-checkbox > label:before {
    content: "";
    position: absolute;
    width: 1.5em;
    height: 20px;
    left: 0.4em;
    transition: background 0.1s 0.1s ease;
    border: 2px solid rgba(143, 67, 236, 0.4);
}
.UA-checkbox > label:after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    /* border-radius: 50%; */
    left: 13px;
    top: 3px;
    transition: all 0.2s ease;
    box-shadow: 0 0 0 5px rgba(143, 67, 236, 0.4) inset;
    background: #ffffff;
    z-index: 2;
}
.UA-checkbox input[type="checkbox"]:checked + label::before {
    background: #8f43ec;
    border: 2px solid #8f43ec;
}
.UA-checkbox input[type="checkbox"]:checked + label::after {
    left: 31px;
    background: #8f43ec;
    -webkit-box-shadow: 0 0 0 5px #ffffff inset;
    -moz-box-shadow: 0 0 0 5px #ffffff inset;
    box-shadow: 0 0 0 5px #ffffff inset;
    border-color: #ffffff;
    animation: switch-on 0.3s ease-out;
}

/* selectbox Style */
.UA-select-box {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.UA-select-box .UA-elements-info .UA-title {
    margin-bottom: 10px;
}
.UA-select-box .UA-custom-select .select-box {
    width: 100%;
    height: 40px;
    border: 1px solid #eeeeee;
    padding: 4px 15px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
    letter-spacing: 0.4px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.06);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: rgba(46, 61, 98, 0.6);
}
.UA-select-box .UA-custom-select .select-box:focus {
    border-color: rgba(143, 67, 236, 1);
}
.UA-select-box .UA-custom-select .select_icon {
    position: absolute;
    right: 10px;
    height: auto;
    font-size: 17px;
    top: 15px;
    color: #aaa;
    line-height: 10px;
}
.UA-select-box .UA-custom-select {
    width: 100%;
    position: relative;
}


/* Textarea style */
.UA-textarea-box,
.UA-text-field {
    flex-direction: column;
    align-items: flex-start;
}
.UA-textarea-box .UA-elements-info .UA-title,
.UA-text-field .UA-elements-info .UA-title {
    margin-bottom: 10px;
}
.UA-textarea-box .UA-textarea,
.UA-text-field .input-text {
    width: 100%;
    height: 100px;
    border: 1px solid rgba(143, 67, 236, 0.25);
    resize: none;
    border-radius: 4px;
    font-size: 15px;
    padding: 10px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.UA-textarea-box .UA-textarea:focus,
.UA-text-field .input-text:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(143, 67, 236, 1);
}


/* Text Field style */
.UA-text-field .input-text {
    height: 40px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.4px;
}
.UA-textarea-box .UA-textarea::placeholder,
.UA-text-field .input-text::placeholder {
    font-size: 13px;
    color: #7f8897;
    font-weight: 300;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}


/* UA Tab Toggles */
#elements .UA-admin-section-header-title,
#extensions .UA-admin-section-header-title {
    width: auto;
}
.UA-settings-tab {
    display: none;
}
.UA-settings-tab.active {
    display: block;
}
.UA-tabs li a.active {
    background-color: #fff;
    color: #724fb6;
}
.UA-tabs li a.active span {
    background: linear-gradient(45deg, #8f42ec 50%, #ba42ec 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Footer Style */
.UA-settings-footer {
    padding: 20px 25px 15px 25px;
    background: #fff;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.UA-settings-footer .submit {
    padding: 0;
}
.UA-settings-footer p.submit {
    margin-top: 0;
}

.UA-settings-tab img {
    max-width: 100%;
}
.button.ea-admin-save-btn {
    background-color: #8f42ec;
    color: #fff;
    padding: 7px 20px;
    border: none;
    box-shadow: none;
    font-size: 13px;
    height: auto;
    text-transform: uppercase;
    text-shadow: none;
    letter-spacing: 0.05em;
    border-radius: 30px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.button.ea-admin-save-btn i {
    font-size: 16px;
    display: inline-block;
    margin-right: 8px;
}
.button.ea-admin-save-btn:hover,
.button.ea-admin-save-btn:focus {
    background-color: #ba42ec;
    color: #fff;
    -webkit-box-shadow: 0 12px 24px -6px rgba(143, 66, 236, 0.2);
    -moz-box-shadow: 0 12px 24px -6px rgba(143, 66, 236, 0.2);
    box-shadow: 0 12px 24px -6px rgba(143, 66, 236, 0.2);
}

.UA-save-btn-wrap {
    margin: 30px 0 20px;
}

.UA-save-btn-wrap .ea-admin-save-btn {
    background-color: #ba42ec;
    color: #fff;
    padding: 10px 20px;
}
.UA-save-btn-wrap .ea-admin-save-btn:hover,
.UA-save-btn-wrap .ea-admin-save-btn:focus {
    background-color: #ba42ec;
    color: #fff;
}

.ea-admin-save-btn.UA-demo-btn {
    background-color: #42418e;
    color: #fff;
}
.ea-admin-save-btn.UA-demo-btn:hover,
.ea-admin-save-btn.UA-demo-btn:focus {
    background-color: #ff0188;
    color: #fff;
}

.ea-admin-save-btn.UA-license-btn {
    background-color: #0dc9c3;
}
.ea-admin-save-btn.UA-license-btn:hover,
.ea-admin-save-btn.UA-license-btn:focus {
    background-color: #08d1ca;
}
.ea-admin-save-btn.UA-demo-btn,
.ea-admin-save-btn.UA-license-btn,
.ea-admin-save-btn.UA-review-btn {
    padding: 10px;
    display: block;
    max-width: 250px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 13px;
}

.premium-elements-title {
    margin: 50px 0 30px;
}

.premium-elements-title img {
    width: 75px;
    float: left;
}

.premium-elements-title .section-title {
    color: #157efb;
    margin: 35px 5px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    border-bottom: 6px double #157efb;
    padding-bottom: 10px;
    display: inline-block;
}

.go-premium .ea-admin-save-btn.UA-license-btn {
    background: linear-gradient(-30deg, #4d18ff, #9a7cff);
    margin-top: 30px;
    transition: all 0.3s ease;
}
.go-premium .ea-admin-save-btn.UA-license-btn:hover {
    opacity: 0.85;
}

.go-premium img {
    width: 100%;
    max-width: 400px;
    display: block;
    float: right;
}
.UA-notice {
    background-color: #f7f6d4;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    max-width: 90%;
    color: #9a7223;
}

.UA-notice h5 {
    font-size: 1.2em;
    font-weight: bold;
}

.essential-addons-community-link {
    background-color: #475a96;
    margin: 15px 0;
    display: inline-block;
    border-radius: 3px;
}

.essential-addons-community-link:hover {
    background-color: #3351b2;
}

.essential-addons-community-link a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 1.4em;
    display: flex;
    align-items: center;
    align-content: center;
}

.UA-elements-list h4 {
    font-size: 14px;
    text-transform: uppercase;
    color: #8f42ec;
    margin: 2em 10px 1em;
    font-weight: 500;
    background: rgba(143, 66, 236, 0.1);
    display: inline-block;
    padding: 7px 20px;
    border-radius: 4px;
    letter-spacing: 1px;
}

/* Header Button */
.ea-header-bar .ea-admin-save-btn,
.UA-save-btn-wrap .ea-admin-save-btn {
    border-radius: 30px;
    background: #8f42ec;
    height: 50px;
    transition: all 300ms ease-in-out;
    position: relative;
}
.ea-header-bar .ea-admin-save-btn:hover,
.ea-header-bar .ea-admin-save-btn:focus {
    background-color: #ba42ec;
    -webkit-box-shadow: 0 12px 24px -6px rgba(143, 66, 236, 0.2);
    -moz-box-shadow: 0 12px 24px -6px rgba(143, 66, 236, 0.2);
    box-shadow: 0 12px 24px -6px rgba(143, 66, 236, 0.2);
}
.UA-save-btn-wrap .ea-admin-save-btn.save-now,
.ea-header-bar .ea-admin-save-btn.save-now,
.UA-fb-feed-btn.save-now {
    background: #e74c3c;
}
.UA-save-btn-wrap .ea-admin-save-btn.save-now:hover,
.ea-header-bar .ea-admin-save-btn.save-now:hover,
.UA-fb-feed-btn.save-now:hover {
    background: #ff5544;
}
.ea-header-bar .ea-admin-save-btn.js-UA-settings-save {
    display: flex;
    right: 0;
    justify-content: flex-end;
    align-items: center;
}
.ea-header-bar .ea-admin-save-btn svg#UA-spinner {
    animation: rotating 2s infinite linear;
    margin: 0 8px 0 0;
    left: 14px;    
}
@keyframes rotating {
    to {
        transform: rotate(0);
    }
    from {
        transform: rotate(-360deg);
    }
}

/* Admin Blocks */
.UA-admin-general-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}
.UA-admin-general-wrapper .UA-admin-general-inner {
    flex: 1 1 100%;
    max-width: 100em;
    height: auto;
    width: 100%;
}
.UA-admin-general-wrapper .UA-sidebar {
    flex: 1 1 200px;
    padding: 20px;
}
.UA-admin-section-header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    text-transform: uppercase;
    margin-top: 0;
    font-weight: 400;
    letter-spacing: 0.4px;
    background: rgba(186, 66, 236, 0.05);
    padding: 15px;
    border-radius: 4px;
    overflow: hidden;
}
@media screen and (max-width: 782px) {
    .UA-admin-section-header-title {
        flex-direction: column;
    }
    .UA-admin-section-header-title .left {
        margin-bottom: 10px;
    }
}
.UA-admin-section-header-title:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: linear-gradient(45deg, #ba42ec 50%, #8f42ec 50%);
    bottom: 0;
    left: 0;
    animation: gradient_bg_animation 10s ease infinite;
}
.UA-admin-section-header-title i:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(186, 66, 236, 0.1);
    z-index: -1;
}
.UA-admin-section-header-title i {
    overflow: hidden;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    z-index: 1;
    border-radius: 4px;
    background: linear-gradient(45deg, #8f42ec 50%, #ba42ec 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 10px;
    position: relative;
}
.UA-admin-section-header-title .left {
    display: flex;
    align-items: center;
}
.UA-admin-dashboard-card {
    position: relative;
}
.UA-admin-dashboard-card img {
    width: 100%;
    border-radius: 4px;
}
.UA-admin-block-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.UA-admin-block-wrapper .UA-admin-block {
    background-color: #ffffff;
    box-shadow: 0 8px 38px 0 rgba(16, 16, 16, 0.07);
    margin: 10px 10px 25px 10px;
    width: 300px;
    flex: 1 1 auto;
    min-width: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.UA-admin-block-large,
.UA-sidebar-widget {
    background: #fff;
    margin-bottom: 25px;
    padding: 1em;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.UA-admin-block-wrapper .UA-admin-block.UA-admin-block-banner {
    padding: 8px;
}
.UA-admin-block-header {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 30px 0 0 25px;
}
.UA-admin-block-header-icon {
    height: 40px;
    width: 40px;
    background: #f3edff;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50%;
}
.UA-sidebar-block {
    margin: calc(10% + 1.5em) auto;
}
.warning {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    color: #d8000c;
    background-color: #ffbaba;
    overflow: hidden;
}
.warning > * {
    float: left;
}
.UA-notice-text {
    padding-left: 10px;
}
.UA-title {
    position: relative;
}
label.UA-get-pro + .UA-title {
    padding-left: 25px;
}
#toplevel_page_ua_settings a {
    background: linear-gradient(45deg, #ba42ec, #8f42ec, #0073aa, #ba42ec, #8f42ec) !important;
    animation: gradient_bg_animation 10s ease infinite !important;
    background-size: 400% 400%!important;
    color: #fff!important;
    padding: 2px 0 !important;
}
@keyframes gradient_bg_animation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
#toplevel_page_UA_settings.current .wp-menu-image img,
#adminmenu .wp-menu-image img {
    opacity: 1;
}
.elements-global-control-wrap {
    text-align: center;
    margin-bottom: 22px;
}
.UA-checkbox-container.elements-global-control-wrap
    .UA-checkbox.checkbox-toggle-all {
    display: inline-block;
    margin: 0 auto;
}
.UA-checkbox-container.elements-global-control-wrap  .UA-checkbox label:after {
    width: 1.8em;
    height: 1.8em;
}
.UA-checkbox-container.elements-global-control-wrap .UA-checkbox input[type="checkbox"]:checked + label::after {
    left: 2.2em;
}
.UA-checkbox-container.elements-global-control-wrap .UA-checkbox label,
.UA-checkbox-container.elements-global-control-wrap .UA-checkbox label:before {
    width: 100px;
    height: 2em;
}
.elements-global-control-wrap h4 {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    color: #8f42ec;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 13px 20px 10px 20px;
}
.elements-controls-wrap.elements-global-control-wrap p {
    font-size: 14px;
    color: #707070;
}
button.ea-admin-save-btn.UA-global-control-enable:focus,
button.ea-admin-save-btn.UA-global-control-disable:focus {
    outline: none;
}
button.ea-admin-save-btn.UA-global-control-enable {
    background: #8f43ec;
}
@media screen and (max-width: 782px) {
    button.ea-admin-save-btn.UA-global-control-enable {
        margin-bottom: 10px;
    }
}
button.ea-admin-save-btn.UA-global-control-disable {
    background: #f73535;
}
.ea-btn-group button {
    border: 0 solid;
    color: #fff;
    padding: 13px 25px;
    border-radius: 30px;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0 3px;
    cursor: pointer;
    transition: 300ms;
}
button.ea-admin-save-btn.UA-global-control-enable:hover {
    background: #ba42ec;
    -webkit-box-shadow: 0 12px 24px -6px rgba(143, 66, 236, 0.2);
    box-shadow: 0 12px 24px -6px rgba(143, 66, 236, 0.2);
}
button.ea-admin-save-btn.UA-global-control-disable:hover {
    background: #d01111;
    -moz-box-shadow: 0 12px 24px -6px rgba(143, 66, 236, 0.2);
    box-shadow: 0 12px 24px -6px rgba(143, 66, 236, 0.2);
}
.UA-elements-info {
    display: flex;
    align-items: center;
}
.UA-elements-info img, .UA-elements-info svg {
    width: 18px;
}
.UA-elements-info .UA-info-tooltip {
    background-color: #3a3c40;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    padding: 5px 15px;
    border-radius: 40px;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: #fff;
    opacity: 0;
    pointer-events: none;
    text-transform: uppercase;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    transition: all 0.3s ease;
    z-index: 1;
}
.UA-elements-info > a:hover .UA-info-tooltip {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
}
.UA-elements-info .UA-info-tooltip:after {
    display: block;
    position: absolute;
    bottom: 1px;
    left: 50%;
    width: 0;
    height: 0;
    content: "";
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    border-top-color: #3a3c40;
    -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}

/* Admin Notice */
.ea-missing-elementor {
    border-color: #dc3132;
}


/* Image Upload */
#ua-img-upload-metabox img {
    width: 100%;
}
#ua-img-upload-metabox #image-upload-button,
#ua-img-upload-metabox #image-delete-button {
    background: #00c500;
    color: #ffffff;
    border: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.4px;
    padding: 5px 10px;
    transition: .3s;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #fff;
}
#ua-img-upload-metabox #image-upload-button:focus,
#ua-img-upload-metabox #image-delete-button:focus,
#ua-img-upload-metabox #image-upload-button:hover {
    background: #04a204;
    box-shadow: none;
    outline: none;
}
#ua-img-upload-metabox #image-delete-button {
    background: red;
    border-radius: 0 4px 4px 0;
    border-right: none;
    border-left: 1px solid #fff;
}
#ua-img-upload-metabox #image-delete-button:focus,
#ua-img-upload-metabox #image-delete-button:hover {
    background: #ea0202;
}
#ua-img-upload-metabox img {
    cursor: pointer;
}
#ua-img-upload-metabox #image-delete-button.inactive {
    display: none;
}
#ua-img-upload-metabox p {
    display: flex;
    align-items: center;
}
#ua-img-upload-metabox p > * {
    flex: 1;
}






